//theme colors
$color-primary: #03A9F4
$color-secondary: #254E70
$color-accent: #504D5F

//generic colors
$color-white: #ffffff
$color-light-grey: #EEEEEE
$color-grey: #E4E4E6
$color-dark-grey: #707070
$color-darker-grey: #4E4B5C

$map-color: ( primary: $color-primary, secondary: $color-secondary, accent: $color-accent, white: $color-white, light-grey: $color-light-grey, grey: $color-grey, dark-grey: $color-dark-grey, darker-grey: $color-darker-grey)

//z-index
$z-index-normal: 0
$z-index-high: 10
$z-index-higher: 20
$z-index-highest: 30
$z-index-max: 40

$box-shadow: 0px 6px 12px rgba(0,0 ,0 ,.4)

//border-radius
$border-rounded-least: 3px
$border-rounded-less: 4px
$border-rounded-standard: 6px
$border-rounded-more: 10px

//font weights
$font-weight-light: 300
$font-weight-normal: 400
$font-weight-semi-bold: 550
$font-weight-semi-bolder: 650
$font-weight-semi-boldest: 700
$font-weight-bold: 800

//font sizes
$font-size-xxxxs: 10px
$font-size-xxxs: 12px
$font-size-xxs: 16px
$font-size-xs: 20px
$font-size-sm: 24px
$font-size-md: 28px
$font-size-lg: 32px
$font-size-xl: 40px
$font-size-xxl: 48px
$font-size-xxxl: 56px
$font-size-xxxxl: 64px


// padding
$padding-xs: 8px
$padding-sm: 12px
$padding-md: 16px
$padding-lg: 24px
$padding-xl: 32px
$padding-xxl: 40px
$padding-xxxl: 44px
$padding-xxxxl: 60px
$padding-xxxxxl: 80px

$map-padding: ( xs: $padding-xs, sm: $padding-sm, md: $padding-md, lg: $padding-lg, xl: $padding-xl, xxl: $padding-xxl, xxxl: $padding-xxxl, xxxxl: $padding-xxxxl, xxxxxl: $padding-xxxxxl)


// margin
$margin-xs: 8px
$margin-sm: 10px
$margin-md: 16px
$margin-lg: 24px

$map-margin: (xs: $margin-xs, sm: $margin-sm, md: $margin-md, lg:$margin-lg)

// media queries
$media-query-phablet: 560px 
$media-query-tablet: 768px
$media-query-laptop: 992px
$media-query-desktop: 1200px

$map-media-query: (phablet: $media-query-phablet, tablet: $media-query-tablet, laptop: $media-query-laptop, desktop: $media-query-desktop)